@import '../../index.scss';

.content-card {
  padding: 20px;

  .content-heading {
    padding-top: 20px;
  }
  .content-image {
    .carousel-item {
      height: auto;
      max-height: 600px;
      overflow: hidden;
    }

    img {
      width: 100%;
    }
  }
  .content-body {
    padding-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .content-card {
    padding: 20px 0;
  }
}
