@import '../../index.scss';

.contacts-page {
  .contact-details {
    padding: 25px;

    h6 {
      font-weight: bold;
      margin-top: 30px;
    }
    h6:first-child {
      margin-top: 10px;
    }
    li {
      list-style: none;
    }
  }
  .contact-form {
    padding: 25px;
  }
}

@media screen and (max-width: 800px) {
  .contacts-page {
    .contact-details {
      padding: 0;
      text-align: center;

      ul {
        padding-left: 0;
      }
    }
    .contact-form {
      margin-top: 50px;
      padding: 0;
    }
  }
}
