@import '../../index.scss';
@import '../../utils/colors.scss';

.contacts-page {
  .responsive-flex {
    align-items: stretch;
  }
  .social-icons {
    display: flex;
    justify-content: center;

    img {
      width: 50px;
      height: 50px;
      margin: 10px;
    }
  }
  .contact-details {
    margin-top: 50px;
    padding-right: 25px;

    h6 {
      font-weight: bold;
      margin-top: 30px;
    }
    h6:first-child {
      margin-top: 10px;
    }
    li {
      list-style: none;
    }
  }
  .contact-form {
    margin-top: 50px;
    padding-left: 25px;

    .custom-input {
      @include no-outline;
      border: none;
      border-bottom: 1px solid $primary;
      border-radius: 0;
      outline: 0px !important;
    }
    .custom-input:focus {
      border-bottom-color: $primaryDark;
    }
    textarea {
      @include no-outline;
      border-radius: 0;
      border: 1px solid $primary;

      &:focus {
        border: 1px solid $primaryDark;
      }
    }
  }
  .google-embedded-map {
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .contacts-page {
    .contact-details {
      padding: 0;
      text-align: center;

      ul {
        padding-left: 0;
      }
    }
    .contact-form {
      padding: 0;
    }
  }
}
