@import '../../index.scss';

.contacts-page {
  .contact-details {
    padding: 25px;

    h6 {
      font-weight: bold;
    }
    li {
      list-style: none;
    }
  }
  .contact-form {
    padding: 25px;
  }
}

@media screen and (max-width: 800px) {
  .contacts-page {
    .contact-details, .contact-form {
      padding: 0;
    }
  }
}
