@import '../../index.scss';

.featured-videos {
  .featured-video-item {
    text-align: center;
    $border: 2px solid #dddddd;
    
    .triangle {
      @include triangle;
      height: 50px;
      width: 50px;
      background-color: white;
      margin: 0 auto;
      z-index: 2;
      margin-top: -55px;
    }
    .video-details {
      border-right: $border;
      border-bottom: $border;
      border-left: $border;
      padding: 20px;
      margin-top: -10px;
      background-color: white;

      .video-title {
        font-weight: bold;
      }
      .video-description {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  // .featured-videos {

  // }
}
