@import '../../index.scss';
@import '../../utils/borderAnimation.scss';
@import '../../utils/scrollRevealAnimation/scrollRevealAnimation.scss';

.mainContent {
  padding-top: $navbar-height;

  .section-padding {
    padding: 20px;
  }
  .inner-padding {
    padding: 0 20px;
  }
  .large-padding {
    padding: 20px 90px;
  }

  #banner {

    .carousel {
      .carousel-item {
        height: auto;
        border: none;

        img {
          width: 100%;
        }

        .carousel-caption {
          position: absolute;
          left: 30px;
          right: 30px;
          bottom: 50px;
          z-index: 10;
          color: white;
          text-align: center;
          padding: 15px 0 15px 15px;
          border: 2px solid $primaryLight;
          background: rgba($color: #000000, $alpha: 0.2);
          
          .caption-heading {
            font-size: 3.5rem;
          }
        }
      }
      .carousel-control-prev, .carousel-control-next {
        z-index: 99;
      }
    }
  }

  .articles {
    $left-width: 70%;
    display: flex;
    align-items: stretch !important;
    min-height: 100vh;
    background-repeat: repeat;
    padding-bottom: 50px;

    .left {
      width: $left-width;
    }
    .right {
      width: calc(100% - #{$left-width});
      display: flex;
      flex-direction: column;
      padding-bottom: 80px;
      
      .material-card {
        width: 100%;
        margin-bottom: 50px;
        height: fit-content;

        h6 {
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
      }
      .calendar-link {
        display: block;
        padding-top: 10px;
      }
      .affiliate-logo {
        img {
          height: 2.5rem;
        }
      }
      .cana-zone-img {
        height: 70px;
        float: left;
        margin: 0 10px 5px 0;
      }
      .cana-zone-body {
        font-size: 13px;
        color: #333333;
        margin-bottom: 5px;
      }
      .twitter-widget {
        width: 100%;
        flex-grow: 1;

        div:first-child {
          height: 100%;
        }
      }
    }

    .event-times {
      display: flex;
      flex-flow: row wrap;
      padding-top: 20px;

      .calendar {
        display: flex;
        align-items: stretch;
        background-color: $primary;
        color: white;
        padding: 5px;
        margin: 0 10px 10px 0;

        $calendar-left: 60%;
        .calendar-left {
          width: $calendar-left;
          border-right: 1px solid white;
          text-align: center;

          .heading {
            font-size: 11px;            
            text-transform: uppercase;
          }
          .date {
            font-size: 30px;
          }
          .day {
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        .calendar-right {
          width: calc(100% - #{$calendar-left});
          font-size: 22px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;

          .heading {
            font-size: 11px;              
            text-transform: uppercase;
          }
          .month {
            text-transform: uppercase;
            margin-left: 5px;
          }
          .year {
            margin-left: 5px;            
          }
        }
      }
    }
  }
  .about {
    display: flex;
    align-items: stretch;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 50px;
    
    .about-info {
      padding: 50px 30px;
      color: white;
      font-size: 20px;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }
}

@media screen and (max-width: 800px) {
  .mainContent {
    
    .large-padding {
      padding: 20px;
    }
    .inner-padding {
      padding: 20px 0;
    }

    #banner {
      .carousel {
        .carousel-item {
          .carousel-caption {
            display: none !important;
          }
        }
      }
    }

    .articles {
      .right {
        padding-bottom: 80px;

        .affiliate-logo img, .cana-zone-img {
          width: auto !important;
        }
        .affiliate-logo img {
          margin: 10px 5px;
        }
        .twitter-widget {
          height: 70vh;
        }
      }
      .event-times { 
        .calendar {
          width: 100%;

          $calendar-left: 70%;
          .calendar-left {
            width: $calendar-left;
          }
          .calendar-right {
            width: calc(100% - #{$calendar-left});
          }
        }
      }
    }
  }
}
