@import '../../index.scss';

.mainContent {
  padding-top: $navbar-height;

  .section-padding {
    padding: 20px;
  }
  .inner-padding {
    padding: 0 20px;
  }

  #banner {

    .carousel {
      .carousel-item {
        height: auto;
        border: none;

        img {
          width: 100%;
        }

        .carousel-caption {
          position: absolute;
          left: 30px;
          right: 30px;
          bottom: 50px;
          z-index: 10;
          color: white;
          text-align: center;
          padding: 15px 0 15px 15px;
          border: 2px solid $primaryLight;
          background: rgba($color: #000000, $alpha: 0.2);
          
          .caption-heading {
            font-size: 3.5rem;
          }
        }
      }
      .carousel-control-prev, .carousel-control-next {
        z-index: 99;
      }
    }
  }

  .articles {
    $left-width: 70%;
    .left {
      width: $left-width;
    }
    .right {
      width: calc(100% - #{$left-width});
    }
  }
  .about {
    display: flex;
    align-items: stretch;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
    .about-info {
      padding: 50px 30px;
      color: white;
      font-size: 20px;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }
}

@media screen and (max-width: 800px) {
  .mainContent {
    
    // .section-padding {
    //   padding: 20px;
    // }
    .inner-padding {
      padding: 20px 0;
    }

    #banner {
      .carousel {
        .carousel-item {
          .carousel-caption {
            display: none !important;
          }
        }
      }
    }
  }
}
