@import '../../index.scss';

#dashboard-nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar {
  background-image: url('https://iviidev.info/downloads/usf/images/navbar-background.jpg');
  
  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      height: 100px;
      margin-right: 20px;
      animation: glow 10s infinite 1s linear;
    }
    span {
      color: white;
    }
  }
  .custom-nav-link {
    font-family: $latoFontFamily;
    font-size: 14px;
    color: #dddddd !important;
    margin: 0 5px;
  }
  .custom-nav-link:hover {
    color: $accentColor !important;
  }
  .active {
    .custom-nav-link {
      color: $accentColor !important;
      border: 1px solid $accentColor;
    }
  }
  .searchBox {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $logoBlue;
    width: 1px !important;
  }
  .searchBox:focus {
    box-shadow: 0 1px 0 0 $logoBlue;
  }
  .nav-item {
    .dropdown-menu {
      background-color: $primary700;

      .custom-nav-link {
        color: white !important;
      }
      .custom-nav-link:hover {
        background: none;
        border-left: 2px solid $accentColor;
        color: $accentColor !important;
      }
    }
  }
  .nav-sponsors {
    width: 170px;
    max-height: 70px;
    overflow: hidden;
    margin: 10px 0;
    text-align: center;
    color: white;

    .heading {
      margin-bottom: 5px;
      font-size: 11px;
    }
  }
}

@media screen and (min-width: 801px) {
  .navbar {
    .searchBox {
      animation: increaseSize 0.4s forwards 1s linear;
    }
  }
}
@media screen and (max-width: 800px) {
  #dashboard-nav {
    justify-content: space-evenly;
  }

  .navbar {  
    .searchBox {
      width: 100% !important;
      margin-bottom: 5px;
    }
    .navbar-brand {
      img {
        animation: glow 2s forwards 1s linear;
      }
    }
    .active {
      .custom-nav-link {
        padding-left: 10px;
      }
    }
  }
}
