@import '../../index.scss';

.article-card {
  padding: 0 !important;
  margin-bottom: 40px;
  background-color: white;

  .article-image {
    img {
      width: 100%;
    }
  }

  .article-videos {
    
    .article-video-item {
      padding: 20px 20px 0 20px;
    }
  }

  .article-details {
    padding: 40px;

    .article-date {
      color: #666666;
      padding-top: 20px;
    }
    .article-event-times {
      display: flex;
      flex-flow: row wrap;
      padding-top: 20px;

      .calendar {
        display: flex;
        align-items: stretch;
        width: 170px;
        background-color: $primary;
        color: white;
        padding: 5px;
        margin: 0 10px 10px 0;

        $calendar-left: 60%;
        .calendar-left {
          width: $calendar-left;
          border-right: 1px solid white;
          text-align: center;

          .heading {
            font-size: 11px;            
            text-transform: uppercase;
          }
          .date {
            font-size: 30px;
          }
          .day {
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        .calendar-right {
          width: calc(100% - #{$calendar-left});
          font-size: 22px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;

          .heading {
            font-size: 11px;              
            text-transform: uppercase;
          }
          .month {
            text-transform: uppercase;
          }
          .year {
            
          }
        }
      }
    }
    .article-tags {
      padding: 10px 0;
      display: flex;
      flex-flow: row wrap;

      span {
        cursor: pointer !important;
        background-color: $primary400;
        font-weight: bold;
        border-radius: 10px;
        font-size: 13px;
        padding: 2px 10px 3px 10px;
        color: white;
        margin-right: 5px;
        margin-bottom: 5px;
        min-width: 50px;
        text-align: center;
      }
    }
    .article-body {
      padding-top: 20px;
    }
    .article-files {
      padding-top: 20px;

      .heading {
        font-weight: bold;
        margin-bottom: 15px;
      }
    }
    .article-location {
      font-size: 20px;
      color: $primaryDark;
    }
  }
}

@media screen and (max-width: 800px) {
  .article-card {
    .article-videos {
      .article-video-item {
        iframe {
          height: 200px;
        }
      }
    }

    .article-details {
      padding: 20px;

      .article-event-times { 
        .calendar {
          width: 100%;

          $calendar-left: 70%;
          .calendar-left {
            width: $calendar-left;
          }
          .calendar-right {
            width: calc(100% - #{$calendar-left});
          }
        }
      }
    }
  }
}
