@import '../../index.scss';

$main-content-padding-top: 81px;
$navbar-height: 126px;
$burger-button-top: calc(#{$navbar-height} + 95px);
$main-content-top-desktop: calc(#{$navbar-height} + 20px - #{$main-content-padding-top});

$sidebar-top-mobile: 216px;
$main-content-top: calc(#{$sidebar-top-mobile} - 43px);

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: $navbar-height; // height of navbar in desktop view

  a {
    display: block;
    color: #eaeaea;
    padding: 15px 12px;
    text-decoration: none;

    span {
      font-size: 13px;
    }
  }
  a.active {
    background-color: $primaryDark;
    color: white;
    text-decoration: none;
  }
  a:hover:not(.active) {
    background-color: #dddddd33;
    color: #eaeaea;
    text-decoration: none;
  }
}

div.content {
  position: relative;
  top: $main-content-top-desktop;
  margin-left: 200px;
  padding: 16px;
  padding-top: $main-content-padding-top;
  height: 1000px;
}

.burgerButton {
  display: none;
  top: $burger-button-top;
  position: relative;
  z-index: 10;
    
  .burger {
    color: $primaryDark;
    font-size: 30px;
    margin: 5px;
  }
}
.burgerButton:focus {
  outline:0;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: none;

    a {float: left;}

    .sidebarLink{
      width: 100%;
    }
  }
  .sidebar.responsive {
    display: block;
    animation: smoothSlideTopDownWithOpacity 0.25s forwards 0s linear;
  }
  .burgerButton {
    display: block;
  }

  div.content {
    margin-left: 0;
    top: $main-content-top;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    top: $sidebar-top-mobile; // height of nav in mobile view
    
    a {
      float: none;
    }
  }
}