// FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

// COLORS
$primaryLight: #90caf9;
$primary: #64b5f6;
$primary400: #42a5f5;
$primary500: #2196f3;
$primary600: #1e88e5;
$primary700: #1976d2;
$primary800: #1565c0;
$primaryDark: #0d47a1;
$logoBlue: #62B4E1;

$bodyFontFamily: 'Montserrat', sans-serif;
$headingFontFamily: 'Raleway', sans-serif;
$latoFontFamily: 'Lato', sans-serif;

.color-primary {
  color: $primary;
}
.color-primary-light {
  color: $primaryLight;
}
.color-primary-dark {
  color: $primaryDark;
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
  color: white;
}
.dark {
  background-color: #333333;
  color: #eaeaea;
}
.bg-primary-dark {
  background-color: $primaryDark;
  color: white;
}
.bg-primary {
  background-color: $primary;
  color: white;
}
.bg-primary-light {
  background-color: $primaryLight;
}
.green {
  color: #43a047;
}
.red {
  color: #e53935;
}

body {
  font-family: $bodyFontFamily !important;
  font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headingFontFamily !important;
  color: $primaryDark;
}
.icon {
  margin: 0 10px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.responsive-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  .half {
    width: 50%;
  }
  .third {
    width: 33.33%;
  }
  .quarter {
    width: 25%;
  }
}
.iconButton {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
.iconBorderedButton {
  background: transparent;
  border-radius: 5px;
  margin: 5px;
}
.noOutline:focus {
  outline: 0;
}

.effect-button {
  //start click effect
  &:before {
    content: '';
    background-color: aliceblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  &:focus {
    outline: 0;
    color: #fff;
    &:before {
      animation: effect_dylan 0.8s ease-out;
    }
  }
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

.inputForm {
  max-width: 600px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .page-header {
    flex-direction: column;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  .button-link {
    width: 100% !important;
    margin: 10px 0;
  }
  .burgerButton {
    width: 100% !important;
  }
  .responsive-flex {
    flex-flow: column wrap;
    
    img {
      width: 100%;
    }
    .responsive-flex-child {
      width: 100%;
    }
  }
}

// ANIMATIONS
@keyframes smoothSlideTopDownWithOpacity {
  0% {
    transform: rotate(0) translateY(-480px);
    opacity: 0.1;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
  // animation: smoothSlideTopDownWithOpacity 0.3s forwards 0s linear;
}
@keyframes increaseSize {
  0% {
    transform: rotate(0);
    width: 1px;
  }
  100% {
    transform: rotate(0);
    width: 400px;
  }
  // animation: increaseSize 0.4s forwards 0s linear;
}
@keyframes glow {
  0% { box-shadow: 0 0 -10px $logoBlue; }
  40% { box-shadow: 0 0 20px $logoBlue; }
  60% { box-shadow: 0 0 20px $logoBlue; }
  100% { box-shadow: 0 0 -10px $logoBlue; }
  // animation: glow 0.3s forwards 0s linear;
}
